{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/terrenos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clientes.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="contenedor-principal">
            <header class="header">
                <div class="header-content">
                    <div class="header-icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <h1>Terrenos</h1><br>
                </div>
            </header>
            <br>
            <!-- Barra de búsqueda y filtros -->
            <div class="barra-herramientas">
                <div class="busqueda-container">
                    <input type="text" id="buscarTerreno" placeholder="Buscar terreno">
                    <button class="btn-buscar">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="filtro-container">
                    <select id="filtroTerrenos">
                        <option value="">Filtrar por...</option>
                        <option value="proyecto">Proyecto</option>
                        <option value="etapa">Etapa</option>
                        <option value="unidad">Codigo Unidad</option>
                    </select>
                </div>
                <div class="filtro-container">
                    <select id="filtroTerrenosEstado">
                        <option value="todos">Todos</option>
                        <option value="disponible">Disponible</option>
                        <option value="enProceso">En Proceso</option>
                        <option value="reservado">Reservado</option>
                        <option value="noDisponible">No Disponible</option>
                        <option value="vendido">Vendido</option>
                    </select>
                </div>
            </div>

            <!-- Tabla de terrenos -->
            <div class="tabla-container">
                <table class="tabla-terrenos" id="tabla_terrenos">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Proyecto</th>
                        <th>Etapa</th>
                        <th>Área</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>Tipo / Terreno</th>
                        <th>Manzana</th>
                        <th>N° de Lote</th>
                        <th>Codigo Unidad</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody id="tabla_terrenos_body">
                    {% for terreno in terrenos %}
                        <tr data-id="{{ terreno.id_terreno }}" data-estado="{{ terreno.estado | lower }}">
                            <td>{{ terreno.id_terreno }}</td>
                            <td>{{ terreno.nombre_proyecto }}</td>
                            <td>{{ terreno.etapa}}</td>
                            <td>{{ terreno.area }}</td>
                            <td>{{ terreno.precio_terreno}}</td>
                            <td>
                                {% set clases_estado = {
                                    'Disponible': 'disponible',
                                    'Vendido': 'vendido',
                                    'Reservado': 'reservado',
                                    'EnProceso': 'enproceso',
                                    'NoDisponible': 'nodisponible',
                                    'Eliminado': 'eliminado'
                                } %}
                                <span class="estado-terreno {{ clases_estado.get(terreno.estado_terreno, 'disponible') }}">
                                    {{ terreno.estado_terreno | replace('Disponible', 'Disponible') | replace('Vendido', 'Vendido') | replace('Reservado', 'Reservado') | replace('EnProceso', 'En Proceso') | replace('NoDisponible', 'No Disponible') | replace('Eliminado', 'Eliminado') }}
                                </span>
                            </td>
                            <td>{{ terreno.tipo_terreno}}</td>
                            <td>{{ terreno.manzana }}</td>
                            <td>{{ terreno.numero_lote}}</td>
                            <td>{{ terreno.codigo_unidad }}</td>
                            <td class="acciones">
                                <button class="btn-editar-terreno" data-id="{{ terreno.id_terreno }}" title="Editar">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button class="btn-eliminar-terreno" data-id="{{ terreno.id_terreno }}"
                                        title="Eliminar">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Botones de acción -->
            <div class="acciones-container">
                <button class="btn-agregar" id="btnAgregarTerreno">Agregar</button>
            </div>
        </div>
    </div>

    <!-- Modal para agregar terreno -->
    <div class="modal-terreno" id="modalAgregarTerreno">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="icon-circle">
                        <i class="fas fa-map"></i>
                    </div>
                    <div>
                        <h2>Nuevo Terreno</h2>
                        <p>Bienvenido a la creación de terreno. No olvide que los campos deben estar en proyecto creado,
                            si el campo no existe debe crearlo en la sección de catálogos.</p>
                    </div>
                </div>
                <span class="close" id="btn-cancelar-terreno">&times;</span>
            </div>
            <div class="modal-body">
                <form id="formAgregarTerreno">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="estadoTerreno" value="Disponible">
                    <div class="form-group">
                        <label for="proyecto">Selecciona el Proyecto*</label>
                        <select id="proyecto" name="proyecto" required data-etapas='{{ etapas_dict | tojson | safe }}'>
                            <option value="">Seleccionar...</option>
                            {% for proyecto in proyectos %}
                                <option value="{{ proyecto.id_proyecto }}">{{ proyecto.nombre_proyecto }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="etapa">Etapa*</label>
                       <input type="number" id="etapa" name="etapa" min="1"  required>
                    </div>
                    <div class="form-group">
                        <label for="manzana">Manzana*</label>
                        <input type="text" id="manzana" name="manzana" pattern="[A-Za-z]{1,2}" maxlength="2" required
                               oninput="this.value = this.value.replace(/[^A-Za-z]/g, '').toUpperCase();">
                    </div>
                    <div class="form-group">
                        <label for="lote">N° de Lote*</label>
                        <input id="lote" name="lote" type="number" required>
                    </div>
                    <div class="form-group">
                        <label for="tipoTerreno">Tipo de terreno*</label>
                        <select id="tipoTerreno" name="tipoTerreno" required>
                            <option value="">Seleccionar...</option>
                            <option value="Calle">Calle</option>
                            <option value="Avenida">Avenida</option>
                            <option value="Esquina">Esquina</option>
                            <option value="Parque">Parque</option>
                            <option value="Esquina_Parque">Esquina-Parque</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="area">Área m²*</label>
                        <input id="area" name="area" type="number" required>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio*</label>
                        <input type="number" id="precio" name="precio" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn-secondary" id="btn-cancelar-terreno-footer">Cancelar</button>
                <button class="btn-agregar" id="btn-guardar-terreno">Guardar</button>
            </div>
        </div>
    </div>

    <!-- Modal para editar terreno -->
    <div class="modal-terreno" id="modalEditarTerreno">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="icon-circle">
                        <i class="fas fa-map-marked-alt"></i>
                    </div>
                    <div>
                        <h2>Editar Terreno</h2>
                        <p>Bienvenido a la edición de terreno. Solo puedes modificar los campos visibles. Si el campo
                            contiene un candado, no se puede modificar.</p>
                    </div>
                </div>
                <span class="close" id="btn-cancelar-terreno">&times;</span>
            </div>
            <div class="modal-body">
                <form id="formEditarTerreno">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="id_terreno" id="idTerreno">
                    <input type="hidden" name="codigo_unidad" id="codigo_unidad">
                    <input type="hidden" name="nombre_proyecto" id="nombre_proyecto">
                    <div class="form-group">
                        <label for="etapa">Etapa*</label>
                        <input type="number" id="etapaEditar" name="etapa" min="1" max="99" maxlength="2" required>
                    </div>
                    <div class="form-group">
                        <label for="manzana">Manzana*</label>
                        <input type="text" id="manzana" name="manzana" pattern="[A-Za-z]{1,2}" maxlength="2" required
                               oninput="this.value = this.value.replace(/[^A-Za-z]/g, '').toUpperCase();">
                    </div>
                    <div class="form-group">
                        <label for="lote">N° de Lote*</label>
                        <input id="lote" name="lote" type="number" required>
                    </div>
                    <div class="form-group">
                        <label for="tipoTerreno">Tipo de terreno*</label>
                        <select id="tipoTerreno" name="tipoTerreno" required>
                            <option value="">Seleccionar...</option>
                            <option value="Calle">Calle</option>
                            <option value="Avenida">Avenida</option>
                            <option value="Esquina">Esquina</option>
                            <option value="Parque">Parque</option>
                            <option value="Esquina_Parque">Esquina-Parque</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="area">Área m²*</label>
                        <input id="area" name="area" type="number" required>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio*</label>
                        <input type="number" id="precio" name="precio" required>
                    </div>
                    <div class="form-group">
                        <label for="estadoTerreno">Estado*</label>
                        <select id="estadoTerreno" name="estadoTerreno" required>
                            <option value="">Seleccionar...</option>
                            <option value="Disponible">Disponible</option>
                            <option value="EnProceso">En Proceso</option>
                            <option value="Reservado">Reservado</option>
                            <option value="Vendido">Vendido</option>
                            <option value="NoDisponible">No Disponible</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn-secondary" id="btn-cancelar-terreno-footer">Cancelar</button>
                <button class="btn-editar" id="btn-editar-terreno">Editar</button>
            </div>
        </div>
    </div>

    <!-- Modal para confirmar eliminar terreno -->
    <div class="modal-terreno" id="modalConfirmarEliminarTerreno">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="icon-warning">
                        <i class="fas fa-exclamation"></i>
                    </div>
                    <div>
                        <h2>¿Desea eliminar este terreno?</h2>
                        <p>Esta acción no se puede deshacer.</p>
                        <p>El terreno será marcado como eliminado y no será visible para los usuarios.</p>
                    </div>
                </div>
                <span class="close" id="btn-cancelar-terreno">&times;</span>
            </div>
            <div class="modal-footer">
                <button class="btn-secondary" id="btn-cancelar-terreno-footer">Cancelar</button>
                <button class="btn-eliminar-terreno" id="btn-eliminar-terreno">Eliminar</button>
            </div>
        </div>
    </div>

    <!-- Modal para confirmar guardar terreno -->
    <div class="modal-terreno" id="modalConfirmarGuardarTerreno">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="icon-warning">
                        <i class="fas fa-exclamation"></i>
                    </div>
                    <div>
                        <h2>¿Desea guardar el nuevo Terreno?</h2>
                        <p>Recuerde que al guardar un nuevo terreno, no podrá eliminarlo, solo podrá cambiar su estado a
                            "Inactivo".</p>
                    </div>
                </div>
                <span class="close" id="btn-cancelar-terreno">&times;</span>
            </div>
            <div class="modal-footer">
                <button class="btn-secondary" id="btn-atras-guardar">Atrás</button>
                <button class="btn-confirmar-terreno" id="btn-confirmar-guardar-terreno">Continuar</button>
            </div>
        </div>
    </div>

    <!-- Modal para confirmar editar terreno -->
    <div class="modal-terreno" id="modalConfirmarEditarTerreno">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="icon-circle icon-warning">
                        <i class="fas fa-exclamation"></i>
                    </div>
                    <div>
                        <h2>¿Desea guardar los cambios en el terreno?</h2>
                    </div>
                </div>
                <span class="close" id="btn-cancelar-terreno">&times;</span>
            </div>
            <div class="modal-footer">
                <button class="btn-secondary" id="btn-atras-editar">Atrás</button>
                <button class="btn-confirmar-terreno" id="btn-confirmar-editar-terreno">Continuar</button>
            </div>
        </div>
    </div>

    <!-- Modal de exito al agregar el terreno-->
    <div class="modal-terreno" id="modalExitoAgregar">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="icon-circle icon-success">
                        <i class="fas fa-check"></i>
                    </div>
                    <div>
                        <h2>Se ha creado un nuevo Terreno !!</h2>
                        <p>Su Terreno fue creado con el siguiente código: su número Terreno, en el proyecto [Proyecto],
                            en la manzana [Manzana].</p>
                    </div>
                </div>
                <span class="close" id="btn-cancelar-terreno">&times;</span>
            </div>
        </div>
    </div>

    <!-- Modal de exito al editar el terreno-->
    <div class="modal-terreno" id="modalExitoEditar">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="icon-circle icon-success">
                        <i class="fas fa-check"></i>
                    </div>
                    <div>
                        <h2>¡Se ha modificado correctamente el Terreno!</h2>
                    </div>
                </div>
                <span class="close" id="btn-cancelar-terreno">&times;</span>
            </div>
        </div>
    </div>

    <!-- Modal de exito al eliminar el terreno-->
    <div class="modal-terreno" id="modalExitoEliminar">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="icon-circle icon-success">
                        <i class="fas fa-check"></i>
                    </div>
                    <div>
                        <h2>¡Se ha eliminado correctamente el Terreno!</h2>
                    </div>
                </div>
                <span class="close" id="btn-cancelar-terreno">&times;</span>
            </div>
        </div>
    </div>

    <div class="modal-overlay-terreno" id="modalOverlay"></div>
    <script src="{{ url_for('static', filename='js/terrenos.js') }}"></script>

{% endblock %}